.contact {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 40, 0);
    padding: 50px 0;
    align-items: center;
}

.contact ul{
    display: flex;
    margin-bottom: 25px;
}

.contact ul li{
    margin-right: 20px;
}

.contact ul li:last-child{
    margin-right: 0;
}

.contact ul li a{
    color: rgb(195, 200, 60);
    font-size: 2em;
}

.contact p{
    color: rgb(195, 200, 60);
    text-align: center;
}

.btn_whats{
    position: fixed;
    bottom: 5px;
    right: 15px;
}

.btn_whats img{
    width: 60px;
}