header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0px 20px;
}

header a{
    opacity: 0.8;
}

header a:hover{
    opacity: 1;
}

header a.btn-close{
    display: none;
}

header img{
    width: 400px;
}

header .btn-menu{
    display: none;
    float: right;
    text-align: center;
    font-size: 1.7em;
    color: rgb(34, 34, 255);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

header nav ul{
    display: flex;
}

header li a{
    font-size: 1.2rem;
    color: rgb(34, 34, 255);
}

header li{
    margin: 0 15px;
}

header li:first-child{
    margin-left: 0;
}

header li:last-child{
    margin-right: 0;
}

@media (max-width: 800px) {
    header{
        flex-direction: column;
        padding: 5px 20px 10px 20px;
    }

    header img{
        width: 90vw;
    }

    header li{
        margin: 0 2vw;
        
    }
}

@media (max-width: 500px){

    header{
        flex-direction: row;
        padding: 5px 20px 0px 20px;
    }

    header img{
        width: 75vw;
    }

    header .btn-menu{
        display: block;
    }

    header nav ul{
        flex-direction: column;
    }

    header nav a.btn-close{
        display: block;
        font-size: 2em;
        color: #fff;
        float: right;
        cursor: pointer;
        margin: 7px 22px;
    }

    header nav.menu{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.9);
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform 500ms linear;
    }

    header nav.menuopen{
        transform: translateX(0);
    }

    header nav.menu ul{
        width: 100%;
        float: left;
        text-align: center;
    }
    
    header nav.menu li{
        padding: 1.5vh;
        list-style-type: none;
    }
    
    header nav.menu li a{
        font-size: 1.5em;
        color: #fff;
        padding: 1.5vw 3vh;
    }

    header nav.menu li:first-child{
        margin-top: 10px;
    }
}