.impact{
    background-image: url(../images/imageLarge.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.impact h1{
    font-size: 3rem;
    text-shadow: rgb(0, 70, 0) 4px 4px 2px
}

.impact h3{
    font-size: 2rem;
    text-shadow: rgb(0, 70, 0) 2px 2px 4px
}

.impact .btn{
    background-color: #fff;
    font-size: 1.3rem;
    margin-top: 1%;
    border-radius: 7px;
    color: rgb(0, 70, 0);
    padding: 10px 20px;
}

@media (max-width: 800px) {
    .impact{
        background-image: url(../images/imageSmall.jpeg);
    }

    .impact h1{
        font-size: 2.3rem;
        text-shadow: rgb(0, 70, 0) 4px 4px 2px
    }
    
    .impact h3{
        font-size: 1.3rem;
        text-shadow: rgb(0, 70, 0) 2px 2px 4px
    }
}