.pictures{
    width: 80vw;
    margin: 100px auto;
}

.pictures h1{
    font-size: 1.5rem;
    color: rgb(0, 60, 0);
    margin-top: 50px;
}

.pictures ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pictures ul div.mostpic{
    visibility: hidden;
    display: none;
}

.pictures ul div.mostpictrue{
    visibility: visible;
    display: contents;
}

img.min{
    width: 40vw;
    padding: 10px;
}

.pictures i.viewmore{
    font-size: 2rem;
    color: rgb(0, 60, 0);
    margin: 0px 47%;
}

.pictures i.viewtrue{
    visibility: visible;
    display: block;
}

.pictures i.viewfalse{
    visibility: hidden;
    display: none;
}

@media (max-width: 500px){
    .pictures{
        width: 80vw;
        margin: 70px auto;
    }

    .pictures ul{
        justify-content: space-around
    }

    img.min{
        width: 95vw;
    }
}
